---
Checks: <
  boost-*
  
  bugprone-*
  -bugprone-easily-swappable-parameters
  
  cert-*
  
  concurrency-*
  
  cppcoreguidelines-*
  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-non-private-member-variables-in-classes
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -cppcoreguidelines-pro-type-reinterpret-cast
  
  google-*
  -google-readability-namespace-comments
  
  hicpp-*
  
  misc-*
  -misc-include-cleaner
  
  modernize-*
  -modernize-use-trailing-return-type
  
  performance-*
  
  portability-*

  readability-*
  -readability-identifier-length

FormatStyle: file

CheckOptions:
  performance-unnecessary-value-param.IncludeStyle: google

  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: UPPER_CASE

  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeDefCase: CamelCase

  readability-identifier-naming.ClassMemberPrefix: m_
  readability-identifier-naming.ClassMemberCase: CamelCase

  readability-identifier-naming.VariableCase: lower_case

