
[submodule "gRPCForSuperGenius"]
	path = gRPCForSuperGenius
	url = ../gRPCForSuperGenius.git
[submodule "GeniusKDF"]
	path = GeniusKDF
	url = ../GeniusKDF
[submodule "ProofSystem"]
	path = ProofSystem
	url = ../ProofSystem
