############################################################
# doc ignore
############################################################
# Ignore everything
*
# not these files ...
!.gitignore
!README.md
