name: Release Build CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Windows:
    runs-on: windows-latest        
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'SuperGenius'
      
      - name: Check out thirdparty repository
        uses: actions/checkout@v2
        with:
          repository: 'GeniusVentures/thirdparty'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: 'thirdparty'
          submodules: 'recursive' 
          
      - name: Thirdparty Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/thirdparty/.build          

      - name: Thirdparty Configure CMake
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: cmake -S ../build/Windows/ -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release

      - name: Thirdparty Compile
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: cmake --build . --config Release
        
      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/SuperGenius/.build          

      - name: Configure CMake
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: cmake -S ../build/Windows/ -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release -DTHIRDPARTY_DIR=${{github.workspace}}/thirdparty/.build 

      - name: Compile
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: cmake --build . --config Release

  Linux:
    runs-on: ubuntu-latest        
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'SuperGenius'    
      
      - name: Check out thirdparty repository
        uses: actions/checkout@v2
        with:
          repository: 'GeniusVentures/thirdparty'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: 'thirdparty'
          submodules: 'recursive' 
          
      - name: Thirdparty Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/thirdparty/.build          

      - name: Thirdparty Configure CMake
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: cmake -S ../build/Linux/ -DCMAKE_BUILD_TYPE=Release

      - name: Thirdparty Compile
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: make -j8
      
      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/SuperGenius/.build          

      - name: Configure CMake
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: cmake -S ../build/Linux/ -DCMAKE_BUILD_TYPE=Release -DTHIRDPARTY_DIR=${{github.workspace}}/thirdparty/.build 

      - name: Compile
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: make -j8
        
  Android:
    runs-on: ubuntu-latest
    env:
      ANDROID_NDK_HOME: ${{github.workspace}}/android-ndk/android-ndk-r21e
      ANDROID_TOOLCHAIN: ${{github.workspace}}/android-ndk/android-ndk-r21e/toolchains/llvm/prebuilt/linux-x86_64/bin
      NDK_URL: "https://dl.google.com/android/repository/android-ndk-r21e-linux-x86_64.zip"

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'SuperGenius'
          
      - name: Download Android NDK
        run: |
          mkdir "${{github.workspace}}/android-ndk" 
          cd "${{github.workspace}}/android-ndk" 
          curl -o ndk.zip ${{ env.NDK_URL }} 
          unzip ndk.zip 
          rm ndk.zip
          
      - name: Check out thirdparty repository
        uses: actions/checkout@v2
        with:
          repository: 'GeniusVentures/thirdparty'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: 'thirdparty'
          submodules: 'recursive' 
          
      - name: Thirdparty Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/thirdparty/.build          

      - name: Thirdparty Configure CMake
        env:
          CC: clang
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: |
          export ANDROID_NDK=${{env.ANDROID_NDK_HOME}}
          export ANDROID_NDK_HOME=${{env.ANDROID_NDK_HOME}}
          export ANDROID_TOOLCHAIN=${{env.ANDROID_TOOLCHAIN}}
          export PATH=${{env.ANDROID_TOOLCHAIN}}:$PATH 
          echo $PATH
          echo $CC
          ls -la $ANDROID_TOOLCHAIN
          echo "Check clang path:"
          which clang
          env
          cmake -S ../build/Android/ -DANDROID_ABI="arm64-v8a" -DCMAKE_ANDROID_NDK=$ANDROID_NDK -DANDROID_TOOLCHAIN=clang
      
      - name: Thirdparty Compile
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: make -j8
      
      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/SuperGenius/.build          

      - name: Configure CMake
        working-directory: ${{github.workspace}}/SuperGenius/.build
        env:
          CC: clang
        run: |
          export ANDROID_NDK=${{env.ANDROID_NDK_HOME}}
          export ANDROID_NDK_HOME=${{env.ANDROID_NDK_HOME}}
          export ANDROID_TOOLCHAIN=${{env.ANDROID_TOOLCHAIN}}
          export PATH=${{env.ANDROID_TOOLCHAIN}}:$PATH 
          echo $PATH
          echo $CC
          ls -la $ANDROID_TOOLCHAIN
          echo "Check clang path:"
          which clang
          env
          cmake -S ../build/Android/ -DANDROID_ABI="arm64-v8a" -DCMAKE_ANDROID_NDK=$ANDROID_NDK -DANDROID_TOOLCHAIN=clang -DTHIRDPARTY_DIR=${{github.workspace}}/thirdparty/.build 
      
      - name: Compile
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: make -j8
      
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        with:
          sudo: false


  MacOS:
    runs-on: macos-latest        
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'SuperGenius'
      
      - name: Check out thirdparty repository
        uses: actions/checkout@v2
        with:
          repository: 'GeniusVentures/thirdparty'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: 'thirdparty'
          submodules: 'recursive' 
          
      - name: Thirdparty Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/thirdparty/.build          

      - name: Thirdparty Configure CMake
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: cmake -S ../build/OSX/ -DCMAKE_BUILD_TYPE=Release

      - name: Thirdparty Compile
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: make -j8
        
      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/SuperGenius/.build          

      - name: Configure CMake
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: cmake -S ../build/OSX/ -DCMAKE_BUILD_TYPE=Release -DTHIRDPARTY_DIR=${{github.workspace}}/thirdparty/.build 

      - name: Compile
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: make -j8
  
  iOS:
    runs-on: macos-latest        
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: 'SuperGenius'    
       
      - name: Check out thirdparty repository
        uses: actions/checkout@v2
        with:
          repository: 'GeniusVentures/thirdparty'
          token: ${{ secrets.GITHUB_TOKEN }}
          path: 'thirdparty'
          submodules: 'recursive' 
          
      - name: Thirdparty Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/thirdparty/.build          

      - name: Thirdparty Configure CMake
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: cmake -S ../build/iOS/ -DCMAKE_BUILD_TYPE=Release -DiOS_ABI=arm64-v8a -DIOS_ARCH="arm64" -DENABLE_ARC=0 -DENABLE_BITCODE=0 -DENABLE_VISIBILITY=1  -DCMAKE_OSX_ARCHITECTURES=arm64 -DCMAKE_SYSTEM_PROCESSOR=arm64 -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/thirdparty/build/iOS/iOS.cmake 

      - name: Thirdparty Compile
        working-directory: ${{github.workspace}}/thirdparty/.build
        run: make -j8
        
      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/SuperGenius/.build          

      - name: Configure CMake
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: cmake -S ../build/iOS/ -DCMAKE_BUILD_TYPE=Release -DTHIRDPARTY_DIR=${{github.workspace}}/thirdparty/.build -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/SuperGenius/build/iOS/iOS.cmake -DiOS_ABI=arm64-v8a -DIOS_ARCH="arm64" -DENABLE_ARC=0 -DENABLE_BITCODE=0 -DENABLE_VISIBILITY=1  -DCMAKE_OSX_ARCHITECTURES=arm64 -DCMAKE_SYSTEM_PROCESSOR=arm64

      - name: Compile
        working-directory: ${{github.workspace}}/SuperGenius/.build
        run: make -j8
        
